<section id="movie-detail">
  <form method="POST" action="/update/{{_id}}?method=PUT">
    <div id="grid-section-detail">
      <div>
        <img src="/uploads/{{imageL}}" alt="{{showTitle}} poster">
      </div><!-- /l-grid -->
      <div>
        <h1>{{showTitle}}</h1>
        <p class="readable">{{description}}</p>
        <p>Category: {{category}}</p>
        <p>Rating: {{rating}} / 10</p>
        <div class="price-buttons">
        {{#if priceRent}}
          <input type="submit" value="Rental: ${{priceRent}}">
        {{/if}}
          <input type="submit" value="Buy: ${{priceBuy}}">
        </div>
      </div><!-- /r-grid -->

    </div><!-- /grid-section-detail -->
  </form>
</section>
